@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #09090A;
    color: #AB222E ;
    font-family: 'Odibee Sans', cursive;
    font-family: 'Poppins', sans-serif;
    font-family: 'Righteous', cursive;
    font-family: 'Roboto Mono', monospace; 
    @apply text-zinc-100;
}
